---
http_interactions:
- request:
    method: get
    uri: https://api.darkskyapp.com/v1/forecast/this-is-your-dark-sky-api-key/42.7243,-73.6927
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ! '{"isPrecipitating":false,"minutesUntilChange":0,"currentSummary":"clear","hourSummary":"clear","radarStation":"enx","hourPrecipitation":[{"probability":0,"intensity":0,"error":0,"type":"rain","time":1331857375},{"probability":0,"intensity":0,"error":0,"type":"rain","time":1331857435},{"probability":0,"intensity":0,"error":0,"type":"rain","time":1331857495},{"probability":0,"intensity":0,"error":0,"type":"rain","time":1331857555},{"probability":0,"intensity":0,"error":0,"type":"rain","time":1331857615},{"probability":0,"intensity":0,"error":0,"type":"rain","time":1331857675},{"probability":0,"intensity":0,"error":0,"type":"rain","time":1331857735},{"probability":0,"intensity":0,"error":0,"ty[...]
